
/* start tooltips  */
.custom-tooltip {
    --bs-tooltip-bg: rgba(0, 0, 0, 0.896);
    --bs-tooltip-color: white;
  }
/* end tooltips  */

/*start   tag content style  */
.card .tagCommentContent .tagContent a{
  font-size: 0.82rem ;
}
/*  end tag content style  */